<% include partials/header.ejs %>
<div class="mlcheader">
<h1>
        Navigator/Wrap series 2 fee calculator <img class="floatr" src="1540958834956.mlc-logo.png">
</h1>

    <div class="tabs">
        <button class="button-md" data-target="#details">Personal details</button>
        <button class="button-md" data-target="#main">Main</button>
        <button class="button-md" data-target="#SMA-tab">SMA search</button>
        <button class="button-md" data-target="#Fund-Tab">Fund Search</button>
        <button class="button-md" data-target="#Share-Tab">Share search</button>
    </div>

</div>
<div id="tabbed-content">
<div class="panel" id="details">
        <% include partials/Accountdetails.ejs %>
</div>
<div class="panel active" id="main">
<% include partials/main.ejs %>
</div>
<div class="panel" id="SMA-tab">
<% include partials/SMAsearch %>
</div>
<div class="panel" id="Fund-Tab">
<% include partials/Fundsearch %>
</div>
<div class="panel" id="Share-Tab">
<% include partials/ASXsearch %>
</div>
</div>

<% include partials/footer.ejs%>