<% include partials/header.ejs %>
<h1>
        Navigator series 2 fee calculator <img class="floatr" src="1540958834956.mlc-logo.png">
</h1>

<div id="tabbed-content">
<ul class="tabs">
    <li class="active" data-target="#main">Main</li>
    <li data-target="#SMA-tab">SMA search</li>
    <li data-target="#Fund-Tab">Fund Search</li>
    <li data-target="#Share-Tab">Share search</li>
</ul>
<div class="panel active" id="main">
<% include partials/main.ejs %>
</div>
<div class="panel" id="SMA-tab">
<% include partials/SMAsearch %>
</div>
<div class="panel" id="Fund-Tab">
<% include partials/Fundsearch %>
</div>
<div class="panel" id="Share-Tab">
<% include partials/ASXsearch %>
</div>
</div>

<% include partials/footer.ejs%>