 <!DOCTYPE html>
 <html>
 <head>
    <link rel="stylesheet" href="/main.css">
 </head>
 <body>


<h1>
    Navigator series 2 fee calculator
</h1>
<h4>
    investment breakdown.
</h4>
<table>
    <tr>
        <th colspan="3"> Listed investments </th>
    </tr>    
    <tr>
        <th> ASX code </th>
        <th> name </th>
        <th> Category </th>
    </tr> 
</table>
    
<table>    
    <tr>
        <th> APIR code code </th>
        <th> name </th>
        <th> Category </th>
        <th> MERs </th>
    </tr>      
</table>
<table>    
    <tr>
        <th> APIR code code </th>
        <th> name </th>
        <th> Category </th>
        <th> MERs </th>
    </tr>      
</table>
    <script type="text/javascript" src="front.js"></script> 
</body>
 </html>