<% include partials/header.ejs %>
<div class="mlcheader">
<h1>
    landing page <img class="floatr" src="1540958834956.mlc-logo.png">
</h1>
</div>
<form>
    <div class="personalDetails">
            <h3>Personal Details</h3>
        <div>
            <label> Name</label>
            <input type="text" placeholder="first name" class="firstName">
        </br>
            <label> Surname</label>   
            <input type="text" placeholder="surname" class="surname">
        </br>
            <label> DOB</label>
            <input type="date" placeholder="DOB" class="DOB">
        </div>
    </div>
<!-- Account type -->
</br>
    <div class="accountDetails">
        <h3>Account type</h3>
                <select name="accountType" class="accountType">
                    <option value="">Please Select account type</option>
                    <option value="Super"> Super </option>
                    <option value="Pension"> Pension </option>
                    <option value="Investment"> Investment </option>
                </select>  
    </div>
</br>
    
    <% include partials/adviserFee1 %> 
    <% include partials/adviserFee2 %>
</br>
    <% include partials/adviserDetails %>
        <button class="button-md">Submit</button>
</form>
<a href="/feecalculator"> To the calculator </a>

</div>
<script type="text/javascript" src="front2.js"></script>
</body>
</html>