<% include partials/header.ejs %>
<div class="mlcheader">
<h1>
    landing page <img class="floatr" src="1540958834956.mlc-logo.png">
</h1>
</div>
<a href="/feecalculator"> To the calculator </a>

<% include partials/footer.ejs%>