<% include partials/header.ejs %>
<div class="mlcheader">
  <h1>landing page <img class="floatr" src="1540958834956.mlc-logo.png" /></h1>
</div>
<form method="GET" action="/feecalculator">
  <button class="button-md">
    To the calculator
  </button>
</form>

<% include partials/footer.ejs %>
