<% include partials/header.ejs %>
<div class="mlcheader">
  <h1>
    Navigator/Wrap series 2 fee calculator
    <img class="floatr" src="1540958834956.mlc-logo.png" />
  </h1>
  <div class="tabs">
    <button class="button-md" data-target="#main">Main</button>
    <button class="button-md" data-target="#SMA-tab">SMA search</button>
    <button class="button-md" data-target="#Fund-Tab">Fund Search</button>
    <button class="button-md" data-target="#Share-Tab">Share search</button>
  </div>
</div>
<div id="tabbed-content">
  <div class="panel active" id="main">
    <% include partials/main.ejs %>
  </div>
  <div class="panel" id="SMA-tab">
    <% include partials/SMAsearch %>
  </div>
  <div class="panel" id="Fund-Tab">
    <% include partials/Fundsearch %>
  </div>
  <div class="panel" id="Share-Tab">
    <% include partials/ASXsearch %>
  </div>

  <div class="test1">
    I am a test Div
  </div>

  <div class="test1">
    I am a test Div
  </div>

  <div class="test1">
    I am a test Div
  </div>

  <div class="tabs2">
    <button class="button-md" data-target1="#main-Tab">
      Investment Account
    </button>
    <button class="button-md" data-target1="#superFee-Tab">
      Super Account
    </button>
    <button class="button-md" data-target1="#pensionCalc-Tab">
      Pension Account
    </button>
  </div>

  <div id="tabbed-content">
    <div class="panel1 active" id="main-Tab">
      <div>
        <div class="panel1" id="pensionCalc-Tab">
          <% include partials/pension %>
        </div>

        <div class="panel1" id="superFee-Tab">
          <% include partials/super %>
        </div>
      </div>
    </div>
    <% include partials/footer.ejs%>
  </div>
</div>
