<h1> test data </h1>
<table>
<% SMA.forEach(function(SMA){ %>
    <tr>
        <th scope="col"> <%= SMA.Name %> </th>
        <th scope="col"> <%= SMA.APIR %> </th>
        <th scope="col"> <%= SMA.Nab%> </th>
        <th scope="col"> <%= SMA.MER%> </th>
    </tr> 
<%})%>
</table>