.container{
    overflow:hidden
}

h1 {
    color: white;
    background-color: #c95109;
    font-family: Charlie-Std-SemiBold;
    padding-bottom: 10px;
}

table {
    border-spacing: 5px;
    border: 1px solid black;
  }

.container {
    border: 3px solid black;
    padding:50px
}

.thead-dark {
    /* display: table-cell; */
  vertical-align: inherit;
  font-weight: bold;
  text-align: center;
}

.floatr{
    float: right;
}

h2 {
    background-color: #006600;
    border: 5px;
    font-family: Charlie-Std-SemiBold;
    color: white;
    clear:both;
    float:left;
}

.feeRef {
    border: 1px solid black;
    float: right;
    width: 40%
}
#totalBalance {
    float: left;
    width: 20%;
}

#totalFee{ 
    width: 20%;
}

#tabbed-content li{
    display: inline-block;
    padding: 10px 14px;
    background: #c95109;
    border-radius: 20px;
    cursor: pointer;
    margin-right: 10px;
    color: white;
}

#tabbed-content .panel.active{
    display: block;
}

#tabbed-content .panel{
    display: none;
}

.button-md {
    font-weight: 400;
    font-family: Charlie-Std-SemiBold;
    text-shadow: none;
    color: #bc4401;
    background-color: aliceblue;
    font-size: 20px;
    height: 43px!important;
    margin-bottom: 22px;
    margin-top: 20px;
    min-width: 155px;
    border: 3px solid #bc4401;
    text-decoration: none;
    
    display: inline-block;
    margin: 2% 5%;
}

input{
  padding: 10px;
  font: 20px Arial;
}

.input-group-addon {
    font-size: 25px;
    margin-right: 2px
}


