<link rel="stylesheet" href="/main.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
 </head>

<div class="container">
<h1> test data </h1>

<form>
    <input type="text" id='myInput' placeholder="search Shares">
</form>

<table class="table" id="fundTable">
<% MF.forEach(function(MF){ %>
<tbody id="myTable">
    <tr>
        <th scope="col"> <input type="checkbox"> <%= MF.FundName %> </th>
        <th scope="col"> <%= MF.APIR %> </th>
        <th scope="col"> <%= MF.NabOwned%> </th>
        <th scope="col"> <%= MF.MER%> </th>
    </tr> 
</tbody>
<%})%>
</table>




</div>

<script type="text/javascript" src="front.js"></script> 
