    <div class="pensionDetails inactive">
        <table class="table1" class="4nab">             
            <tr>
                <th colspan="4" class="cashBalancePension"> 
                    Cash Account total: $<span class="cashBalancePension1"> 0</span> 
                    (min: $<span class="cashBalancePensionMin"> 0</span>)
                    <span  class="infocp q">&#63;</span>
                </th>
            </tr> 
        </table>
        

        <div class="pensionDetails1">
        <h4> Pension details </h4>
            <table>
                <tbody>
                    <tr>
                        <th> Age: </th>
                        <th class="age"> 65 </th>
                    </tr>
                    <tr>
                        <th> Minimum Pension 
                            (<span class="pensionMinPerc">0</span>%) 
                        </th>
                        <th> $<span class="pensionMin">0</span></th>
                    </tr>
                    <tr>
                        <th> Maximum pension</th>
                        <th> $<span class="pensionMax">0</span> </th>
                    </tr>
                </tbody>
            </table>
            <select name="pensionAmount" class="pensionAmount" style="width: 40%">
                    <option value="selectAccount">Choose payment amount</option>
                    <option value="minimum"> minimum </option>
                    <option value="nominated"> nominated </option>
                    <option value="maximum"> maximum </option>
                </select> 
                 <div class="pNominated1 inactive">
                    <label> Nominated amount PA $:</label>
                    <input type=number style="height: 1.2em" class="nominatedInput">
                    <span  class="warningP q inactive">&#10071;</span>
                </div>
                <select name="pensionFrequency" class="pensionFrequency" style="width: 40%">
                    <option value="selectAccount">Choose payment frequency</option>
                    <option value="monthly"> monthly </option>
                    <option value="Quarterly"> Quarterly </option>
                    <option value="Half-yearly"> Half-yearly </option>\
                    <option value="Yearly"> Yearly </option>
                </select> 
            <div class="paymentAmount">
                    total per payment amount: $<span>0<span>
                </div>
        </div>
    </div>





    <div class="superDetails inactive">
        <table class="table1" class="4nab">             
            <tr>
                <th colspan="4" class="cashBalance"> 
                    Cash Account total: $<span class="cashNum"> 0</span>
                    <span  class="infoc q">&#63;</span>
                </th>
            </tr> 
        </table>
    </div>

    <div class="investmentDetails inactive">
        <table class="table1" class="4nab">             
            <tr>
                <th colspan="4" class="cashBalance"> 
                    Cash Account total: $<span class="cashNum"> 0</span>
                    <span  class="infoc q">&#63;</span>
                </th>
            </tr> 
        </table>
    </div>

     <!--<div class="legislationFee">
         Super administration Fee: $<span class="legislationFee1">0 </span> 
         <span class="infoSuperFee q"> &#63;</span>
     </div>-->
    
    