

    <div class="personalDetails">
            <h3>Personal Details 
            <span class="startHere q"> &#63;</span></h3>
        <div class="personalDetails1">
            <label> Name:</label>
            <input type="text" placeholder="first name" class="firstName">
        
            <label> Surname:</label>   
            <input type="text" placeholder="surname" class="surName">
    
            <label> DOB:</label>
            <input type="date" placeholder="DOB" class="DOB">
        </div>
    </div>
<!-- Account type -->
</br>
    <div class="accountDetails">
        <h3>Account type</h3>
                <select name="accountType" class="accountType">
                    <option value="selectAccount">Please Select account type</option>
                    <option value="Super"> Super </option>
                    <option value="Pension"> Pension </option>
                    <option value="Investment"> Investment </option>
                </select> 
    </div>
</br>
    
    <% include adviserFee1 %> 
    <% include adviserFee2 %>
</br>
    <% include adviserDetails %>

<button class="button-md submitDetails">Submit</button>
        
    
</form>
<!-- <a href="/feecalculator"> To the calculator </a>

</div>
<script type="text/javascript" src="front2.js"></script> -->