<p>Have you negotiated an Adviser Service Support Fee arrangement with your financial adviser in relation to your MLC Navigator
                        Retirement Plan Series 2 account?
    </p>

        <div>
            <input type="radio" name="ongoingFee" value="huey" class="feeNo2">
            <label for="huey"> No </label>
        </div>
            <input type="radio" name="ongoingFee" value="dewey" class="feeYes2">
            <label for="dewey"> Yes </label>

    <div id="tabbed-content">
        <div class="panel1">
            <h4 class="subHeaderFee">(b) Adviser Service Support Fee</h4>
            <div>
                <input type="checkbox" name="fee" value="initialFees" class="odollarFee">
                <label for="initialFees"> Dollar based Fee </label>
                <span class="dollar1">$<input type="Number" class="odollarFeeVal"> </span>
            </div>
            <div>
                <input type="radio" name="fee" value="initialFees" class="persIncrease">
                <label for="initialFees"> Increase my dollar fee by</label>
                %<input type="Number" class="persIncrease1"> 
                <strong>OR</strong>
                <input type="radio" name="fee" value="initialFees" class="CPI">
                <label for="initialFees"> CPI per year</label>
            </div>
            <strong>AND/OR</strong>
            <div>
                <input type="checkbox" name="feePerc" value="initialFees" class="feePerc2">
                <label for="feePerc"> Percentage based fee </label>
                <span class="perc1">%<input type="Number" class="feePerc2Val"> </span>
                <label for="feePerc"> of my entier balance </label>
            </div>
        </div>
    </div>    
                
</div>