 <div class="adviserFees">
        <h3>Adviser Service Fee</h3>
        <p>Would you like to set up an Adviser service fee that your financial
            adviser's fees which relate to services provided in relation to MLC 
            Wrap Super Series 2?
        </p>

            <div>
                <input type="radio" name="fee1" value="huey" class="feeNo1">
                <label for="huey"> No </label>
            </div>
            <div>
                <input type="radio" name="fee1" value="dewey" class="feeYes1">
                <label for="dewey"> Yes </label>
            </div>
            
    <div id="tabbed-content">
        <div class="panel2">
            <h4 class="subHeaderFee">(a): Adviser Initial Service Fee </h4>
            <div>
        
                <label for="huey"> Initial Fees </label>
                </div>
                <div>
                    <input type="checkbox" name="fee" value="initialFees" class="idollarFee">
                    <label for="initialFees"> Dollar based Fee </label>
                    <span class="dollar1">$<input type="Number" class="idollarFeeVal"> </span>
                </div>
                
                
                <strong>AND/OR</strong>
                <div>
                    <input type="checkbox" name="feePerc" value="initialFees" class="feePerc1">
                    <label for="feePerc"> Percentage based fee </label>
                    <span class="perc1">%<input type="Number" class="percfeeVal"> </span>
                    <label for="feePerc"> of my entier balance </label>
                </div>
        </div>
    </div>
            </br>