<div class="initialFee inactive">
    <h3 class="faHeader"> Adviser initial Fees </h3>
        <div class="idollarFee1 inactive">
             Dollar based fee $<span>0</span>
        </div>
        <strong class="AND inactive"> AND </strong>
        <div class="ipercFee1 inactive">
            Percentage based fee <span> </span>% of my entier balance
        </div>
    </div>

    <div class="ongoingFee inactive">
        <h3 class="faHeader"> Adviser Ongoing Fees </h3>
        <div class="odollarFee2 inactive">
            Dollar based fee $<span>0</span>
            <div class="yearlyI inactive">
                increased by <span>0</span>
            </div>
        </div>
        <strong class="AND1 inactive"> AND </strong>
        <div class="ipercFee2 inactive">
            Percentage based fee <span>0</span>%
        </div>
    </div>