


<h4> Share search </h4>
    <div class="invest-search3">
        <form>
            <input type="text" id='ASXInput' class="investSearch" placeholder="Search Shares">
        </form>
        <input type="submit" value="Get selected Share(s)" class="select"/>
    </div>
<table class="table1" id="fundTable">
<tr>
        <th scope="col" class="tick">  &#10003;</th>
        <th scope="col"> ASX code </th>
        <th scope="col"> Name </th>
        <th scope="col"> Category</th>
    </tr> 
<% ASX.forEach(function(ASX){ %>
<tbody id="ASXTable">
    <tr>
        <td scope="col">  <input type="checkbox" name='ASXcheck'></th>
        <td scope="col" class="code1"> <%= ASX.ASXcode %> </th>
        <td scope="col" class="share-name"> <%= ASX.ListedInvestmentName %> </th>
        <td scope="col" class="category"> <%= ASX.Category%> </th>
    </tr> 
</tbody>
<%})%>
</table>




</div>

