


<h4> Fund search</h4>

<form>
    <input type="text" id='MFInput' placeholder="search Shares">
</form>
<input type="submit" value="getSelectedFund" class="select2"/>


<table class="table1" id="fundTable">
        <th scope="col" class="tick">  &#10003;</th>
        <th scope="col">Fund Name  </th>
        <th scope="col"> APIR</th>
        <th scope="col">  Nab Owned </th>
        <th scope="col"> MER/ICR </th>
<% MF.forEach(function(MF){ %>
<tbody id="MFTable">
    <tr>
        <th scope="col"><input type="checkbox" name='fundcheck'></th>
        <th scope="col" class="MFname"> <%= MF.FundName %> </th>
        <th scope="col" class="MFAPIR"> <%= MF.APIR %> </th>
        <th scope="col" class="nabo1"> <%= MF.NabOwned%> </th>
        <th scope="col" class="mer1"> <%= MF.MER%> </th>
    </tr> 
</tbody>
<%})%>
</table>

