


<h4> Fund search</h4>

<div class="invest-search2">
    <form>
        <input type="text" id='MFInput' placeholder="Search Shares">
    </form>
    <input type="submit" value="Get Selected Fund(s)" class="select"/>
</div>

<table class="table1" id="fundTable">
        <th scope="col" class="tick">  &#10003;</th>
        <th scope="col">Fund Name  </th>
        <th scope="col"> APIR</th>
        <th scope="col">  Nab Owned </th>
        <th scope="col"> MER/ICR </th>
<% MF.forEach(function(MF){ %>
<tbody id="MFTable">
    <tr>
        <td scope="col"><input class="styled-checkbox" type="checkbox" name='fundcheck'></th>
        <td scope="col" class="MFname"> <%= MF.FundName %> </th>
        <td scope="col" class="MFAPIR"> <%= MF.APIR %> </th>
        <td scope="col" class="nabo1"> <%= MF.NabOwned%> </th>
        <td scope="col" class="mer1"> <%= MF.MER%> </th>
    </tr> 
</tbody>
<%})%>
</table>

