


<h1> Managed Funds</h1>

<form>
    <input type="text" id='MFInput' placeholder="search Shares">
</form>

<table class="table" id="fundTable">
        <th scope="col">  &#10003;</th>
        <th scope="col">Fund Name  </th>
        <th scope="col"> APIR</th>
        <th scope="col">  Nab Owned </th>
        <th scope="col"> MER/ICR </th>
<% MF.forEach(function(MF){ %>
<tbody id="MFTable">
    <tr>
        <th scope="col"><input type="checkbox"></th>
        <th scope="col"> <%= MF.FundName %> </th>
        <th scope="col"> <%= MF.APIR %> </th>
        <th scope="col"> <%= MF.NabOwned%> </th>
        <th scope="col"> <%= MF.MER%> </th>
    </tr> 
</tbody>
<%})%>
</table>

