    
    <!-- input total account value -->
<form class="floatr">
        <div class="form">
            <label for="c2">total account value</label>
        <div class="input-group"> 
            <span class="input-group-addon">$</span>
        <input type="number"  min="0" step="0.01" data-number-to-fixed="2" 
        data-number-stepfactor="100" class="form-control currency" id="c2" />
    </div>
    </div>
</form>
     <h4>
       Investment breakdown.  
    </h4>
    
    <!-- Add and view Shares -->

    <table class="table1">
        <thead class="tablehead"> 
         <th> Listed investments <span class="info2"> # </span> </th>
        </thead>
    </table>
    <table class="table1" id="ASXTable1">
        <tr>
            <th scope="col"> ASX code </th>
            <th scope="col"> Name </th>
            <th scope="col"> Category </th>
            <th scope="col"> Value </th>
            <th scope="col" colspan="2"> % </th>
        </tr>
    </table>

    
    <!-- Add and view managed Funds -->
    <table class="table1">     
        <thead colspan="4" class="tablehead"> 
            <th> Managed Funds <span class="info3"> # </span> </th>
        </thead> 
    </table>
    <table class="table1" id="fundTable" class="4nab">             
        <tr>
            <th scope="col"> APIR Code </th>
            <th scope="col"> Name </th>
            <th scope="col"> MERs </th>
            <th scope="col" class="info1"> Nab Owned 
                <span>#</span>
            </th>
            <th scope="col"> Value </th>
            <th scope="col" colspan="2"> % </th>
        </tr>  

    </table>

        <!-- Add and view SMAs -->
        <table class="table1">     
            <thead colspan="4" class="tablehead"> 
                <th> SMA's </th>
            </thead> 
        </table>
        <table class="table1" id="SMATable" class="4nab">             
            <tr>
                <th scope="col"> APIR Code </th>
                <th scope="col"> Name </th>
                <th scope="col"> MERs </th>
                <th scope="col" class="info1"> Nab Owned 
                        <span>#</span>
                    </th>
                <th scope="col"> Value </th>
                <th scope="col" colspan="2"> % </th>
                <tr>
            </tr> 

 
        </table>
    
    
    
   
    
    </br>
<div class="totalBalance">
        Total Balance: $<span>0</span>
</div>

<div class="cashBalance">
    Cash Account total: $<span> 0</span>
</div>

<div class="MERtotal">
    MER total estimate: $<span> 0</span>
</div>

    <div class="feeRef">
        <h3> Fee breakdown </h3>
        <table class="table">
            <tr>
                <th> Account Balance </th>
                <th> Fee (%pa)</th>
                <th> total </th>
            </tr>
            <tr>
                <th>First $200,000.000</th>
                <th>0.40 </th>
                <th class="t1 totals-table">
                    $<span>0</span> 
                </th>
            </tr>
            <tr>
                <th>Next $300,000.00</th>
                <th> 0.15 </th>
                <th class="t2 totals-table"> 
                    $<span>0</span>
                </th>
            </tr>
            <tr>
                <th> Remaining Balance over $500,000 </th>
                <th> 0.03</th>
                <th class="t3 totals-table"> 
                    $<span>0</span>
                </th>
            </tr>
            <tr>
                <th> Listed Investment </th>
                <th> 0.15</th>
                <th class="listedFee totals-table"> 
                    $<span>0</span>  
                </th>
            </tr>
            <tr>
                <th> Non-Nab </th>
                <th> 0.10</th>
                <th class="nabOT totals-table"> 
                    $<span>0</span>  
                </th>
            </tr>
            
            <tr>
                <th colspan="2"> Total: </th>       
                <th class="total"> 0 </th>
            </tr>
            
        </table>
                <p>Plus
                A flat percentage fee:
                0.10% pa on the portion of your account balance in
                managed investments or SMA options or term
                deposits not managed by the NAB Group, and
                0.15% pa on the portion of your account balance
                invested in listed investments.
                The minimum Administration fee you may pay for
                combined account balances is $375 pa.
                The maximum Administration fee you may pay for
                combined account balances is $2,400 pa. Additionally,
                where you have Family account linking, the maximum
                Administration fee will be the lesser of your individual
                cap or your share of the family linking cap of $3,000
                pa, subject to the minimum Administration fee of
                $375 pa.
            </p>
    </div>