<div class = "accountHeading">
    <h3 class="superDetails inactive"> Super Account</h3>
    <h3 class="pensionDetails inactive"> Pension Account</h3>
    <h3 class="investmentDetails inactive"> Tnvestment Account</h3>
</div>

<div class="textGrid"> 
    <div class="persDeDisplay inactive">
    <h4>Personal Details</h4>

        Name: <span class="firstName1"></span> 
                <span class="surName1"></span>
        </br>
        DOB: <span class="DOB1"></span>
    </div>
    <div class="faDetDisplay inactive">
    <h4>Adviser Details</h4>
        Name/company name: <span class="aName1"></span>
        </br>
        Code: <span class="aCode1"> </span>
        </br>
        Dealer Group: <span class="dGroup1"> </span>
    </div>
</div>
    <!-- input total account value -->
<form class="floatr">
        <div class="form">
            <label for="c2">total account value</label>
        <div class="input-group"> 
            <span class="input-group-addon">$</span>
        <input type="number"  min="0" step="0.01" data-number-to-fixed="2" 
        data-number-stepfactor="100" class="form-control currency" id="c2" />
    </div>
    </div>
</form>
     <h4>
       Investment breakdown. <span class="infoInvest q"> &#63;</span>   
    </h4>

    <table class="table1" class="4nab">             
            <tr>
                <th colspan="4" class="totalBalance"> 
                    Total Balance: $<span>0</span> 
                </th>
            </tr> 
        </table>
    
    <!-- Add and view Shares -->
<div class="listed inactive">
    <table class="table1">
        <thead class="tablehead"> 
            <th> Listed investments <span class="info2 q"> &#63;</span> </th>
        </thead>
    </table>
    <table class="table1">
        <tbody id="ASXTable1">
            <tr>
                <th scope="col"> ASX code </th>
                <th scope="col"> Name </th>
                <th scope="col"> Category </th>
                <th scope="col"> Value </th>
                <th scope="col" colspan="2"> % </th>
            </tr>
        </tbody>
    </table>
</div>

    
    <!-- Add and view managed Funds -->
<div class="funded inactive">
    <table class="table1">     
        <thead colspan="4" class="tablehead"> 
            <th> Managed Funds <span class="info3 q"> &#63; </span> </th>
        </thead> 
    </table>
    <table class="table1" class="4nab">    
        <tbody id="fundTable">          
        <tr>
            <th scope="col"> APIR Code </th>
            <th scope="col"> Name </th>
            <th scope="col"> MERs </th>
            <th scope="col"> Nab Owned 
                <span  class="info1 q">&#63;</span>
            </th>
            <th scope="col"> Value </th>
            <th scope="col" colspan="2"> % </th>
        </tr> 
        </tbody> 

    </table>
</div>
        <!-- Add and view SMAs -->
<div class="seperateManage inactive">
    <table class="table1">     
        <thead colspan="4" class="tablehead"> 
            <th> SMA's / Term Deposits </th>
        </thead> 
    </table>
    <table class="table1" class="4nab"> 
        <tbody id="SMATable">           
        <tr>
            <th scope="col"> APIR Code </th>
            <th scope="col"> Name </th>
            <th scope="col"> MERs </th>
            <th scope="col"> Nab Owned 
                    <span  class="info1 q">&#63;</span>
                </th>
            <th scope="col"> Value </th>
            <th scope="col" colspan="2"> % </th>
        </tr> 
        </tbody>
    </table>
    </div>
    

    <div class="pensionDetails inactive">
        <table class="table1" class="4nab">             
            <tr>
                <th colspan="4" class="cashBalance"> 
                    Cash Account total: $<span> 0</span>
                </th>
            </tr> 
        </table>
        pension test
    </div>
    <div class="superDetails inactive">
        <table class="table1" class="4nab">             
            <tr>
                <th colspan="4" class="cashBalance"> 
                    Cash Account total: $<span> 0</span>
                </th>
            </tr> 
        </table>
        Super test
    </div>
    <div class="investmentDetails inactive">
        <table class="table1" class="4nab">             
            <tr>
                <th colspan="4" class="cashBalance"> 
                    Cash Account total: $<span> 0</span>
                </th>
            </tr> 
        </table>
        Investment test
    </div>
<div class="legislationFee inactive">
    Super administration Fee: $<span class="legislationFee1">0 </span> 
    <span class="infoSuperFee q"> &#63;</span>
</div>
    
    </br>

    
<% include adviserFeeDisplay %>

<% include feeTable %>