

<h4>SMA search</h4>

<div>

<form id="search-SMA">
    <input type="text" id='SMAInput' onkeyup='searchTable()' placeholder="search SMAs">
</form>
    <input type="submit" value="getSelectedSMA" class="select1"/>

<table class="table" id="fundTable">
    <tr>
            <th scope="col">  &#10003;</th>
            <th scope="col"> SMA Name  </th>
            <th scope="col"> APIR</th>
            <th scope="col">  Nab Owned </th>
            <th scope="col"> MER/ICR </th>
    </tr>
<% SMA.forEach(function(SMA){ %>
<tbody id="SMATable">
    <tr>
        <th scope="col"> <input type="checkbox" name="SMAcheck" value="SMAcheck"></th>
        <th scope="col" class="SMA-name"> <%= SMA.Name %> </th>
        <th scope="col" class="SAPIR"> <%= SMA.APIR %> </th>
        <th scope="col" class="nabo"> <%= SMA.Nab%> </th>
        <th scope="col" class="smer"> <%= SMA.MER%> </th>
    </tr> 
</tbody>
<%})%>
</table>

</div>









