



<div>

<form id="search-SMA">
    <input type="text" id='SMAInput' onkeyup='searchTable()' placeholder="search SMAs">
</form>

<table class="table" id="fundTable">
    <tr>
            <th scope="col">  &#10003;</th>
            <th scope="col">SMA Name  </th>
            <th scope="col"> APIR</th>
            <th scope="col">  Nab Owned </th>
            <th scope="col"> MER/ICR </th>
    </tr>
<% SMA.forEach(function(SMA){ %>
<tbody id="SMATable">
    <tr>
        <th scope="col">  <input type="checkbox"></th>
        <th scope="col"> <%= SMA.Name %> </th>
        <th scope="col"> <%= SMA.APIR %> </th>
        <th scope="col"> <%= SMA.Nab%> </th>
        <th scope="col"> <%= SMA.MER%> </th>
    </tr> 
</tbody>
<%})%>
</table>

</div>









