

<h4>SMA search</h4>

<div>

<div class="invest-search1">
    <form id="search-SMA">
        <input type="text" id='SMAInput' class="investSearch" placeholder="Search SMAs">
        
    </form>
<input type="submit" value="Get Selected SMA(s)" class="select"/>
</div>

<table class="table1" id="fundTable">
    <tr>
            <th scope="col" class="tick">   &#10003;</th>
            <th scope="col"> SMA Name  </th>
            <th scope="col"> APIR</th>
            <th scope="col">  Nab Owned </th>
            <th scope="col"> MER/ICR </th>
    </tr>
<% SMA.forEach(function(SMA){ %>
<tbody id="SMATable">
    <tr>
        <td scope="col"> <input type="checkbox" name="SMAcheck" value="SMAcheck"></th>
        <td scope="col" class="SMA-name"> <%= SMA.Name %> </th>
        <td scope="col" class="SAPIR"> <%= SMA.APIR %> </th>
        <td scope="col" class="nabo"> <%= SMA.Nab%> </th>
        <td scope="col" class="smer"> <%= SMA.MER%> </th>
    </tr> 
</tbody>
<%})%>
</table>

</div>









